Repository Idealiste-cz/ideal-voting-backend, pull requests merged in 2021-03, with the labels that each got.

#3 README
  README.md
  build.sbt
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/Main.scala
  ideal-voting-server/src/test/scala/cz/idealiste/idealvoting/server/MainSpec.scala
Labels: mergify-merge

#5 Update sbt-ci-release to 1.5.7
  project/plugins.sbt
Labels: type: dependencies

#6 Update http4s-blaze-server, http4s-dsl to 0.21.20
  project/Dependencies.scala
Labels: type: dependencies

#7 Basic DB, Voting and Http tiers
  .scalafix.conf
  build.sbt
  docker-compose.yml
  ideal-voting-server/src/main/resources/db/changelog/db.changelog-master.yaml
  ideal-voting-server/src/main/resources/logback.xml
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/Config.scala
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/Db.scala
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/Http.scala
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/Main.scala
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/Voting.scala
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/package.scala
  ideal-voting-server/src/test/scala/cz/idealiste/idealvoting/server/MainSpec.scala
  ideal-voting-server/src/test/scala/cz/idealiste/idealvoting/server/MigrationAspects.scala
  ideal-voting-server/src/test/scala/cz/idealiste/idealvoting/server/TestContainer.scala
  project/Dependencies.scala
Labels: mergify-merge

#8 Update liquibase-core to 4.3.2
  project/Dependencies.scala
Labels: type: dependencies

#10 Update http4s-blaze-server, http4s-circe, ... to 0.21.21
  project/Dependencies.scala
Labels: mergify-update, type: dependencies

#13 Update zio-interop-cats to 2.4.0.0
  project/Dependencies.scala
Labels: type: dependencies
