Repository Idealiste-cz/ideal-voting-backend, pull requests merged in 2022-03, with the labels that each got.

#270 Update sbt-decent-scala to 0.7.0+91-be6f7568
  project/plugins.sbt
Labels: type: dependencies

#271 Update logback-classic to 1.2.11
  project/Dependencies.scala
Labels: type: dependencies

#273 Update jackson-databind to 2.13.2
  project/Dependencies.scala
Labels: type: dependencies

#275 Update sbt-guardrail to 0.69.0.1
  project/plugins.sbt
Labels: type: dependencies

#279 Add link to the generated documentation
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  README.md
  build.sbt
  ideal-voting-server/src/test/scala/cz/idealiste/idealvoting/server/TestContainer.scala
  project/Dependencies.scala
Labels: mergify-merge

#281 Update sbt-decent-scala to 0.7.0+94-b46d5435
  project/plugins.sbt
Labels: type: dependencies

#282 Update pprint to 0.7.2
  project/Dependencies.scala
Labels: type: dependencies

#284 Update http4s-blaze-server, http4s-circe, ... to 0.23.11
  project/Dependencies.scala
Labels: type: dependencies

#285 Update emil-doobie to 0.12.0
  project/Dependencies.scala
Labels: type: dependencies, type: breaking

#286 Drop make methods, use only layers
  build.sbt
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/Config.scala
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/Db.scala
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/Http.scala
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/HttpServer.scala
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/Main.scala
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/Voting.scala
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/VotingSystem.scala
  ideal-voting-server/src/test/scala/cz/idealiste/idealvoting/server/TestContainer.scala
Labels: mergify-merge

#287 Sanitize printed config
  build.sbt
  ideal-voting-server/src/main/scala/cz/idealiste/idealvoting/server/Config.scala
Labels: mergify-merge

#290 Update pprint to 0.7.3
  project/Dependencies.scala
Labels: type: dependencies

#291 Update jackson-databind to 2.13.2.2
  project/Dependencies.scala
Labels: type: dependencies

#293 Update liquibase-slf4j to 4.1.0
  project/Dependencies.scala
Labels: type: dependencies
